#advanced_search {
  width: 40%;
  float: left;
}

#pokemon_landing_display {
  position: absolute;
  left: 45%;
  top: 1%; 
  height: 700px;
  width: 750px;
  overflow-y: auto;
}

/* 
==================================== 
CSS for children of #advanced_search
====================================
*/

select {
  width: 9.5em;
}

label {
  clear: left;
  float: left;
  margin-right: 1em;
}

.sex_label {
  clear: top;
  float: top;
}

input[type="text"] {
  width: 25em;
}

.container {
  padding-top: .25em;
  padding-bottom: .25em;
}

/*.container > div {
  width: 50%;
  float: left;
  padding-right: 1%
}*/

/* 
==================================== 
CSS for collapsible stats button
====================================
*/

 /* Style the button that is used to open and close the collapsible content */
#stats_collapsible_button {
  background-color: #eee;
  cursor: pointer;
  padding: .5em;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, #stats_collapsible_button:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
#content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
} 

/* 
==================================== 
CSS for query results
====================================
*/
.img-thumbnail {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.col-2 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding-right: 5%;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pokemon-image{
  position: absolute;
  z-index: 1;
}
.type-image1{
  position: absolute;
  z-index: 2;
  left: 120px;
}
.type-image2{
  position: absolute;
  z-index: 2;
  left: 170px;
}
.name-and-id{
  z-index: 2;
  position: absolute;
  padding-top: 100px;
}


.row-parent {
  list-style: none;
  width: 100%;
  height: 150px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.row-parent > li {
  display: inline-block;
  width: 30%;
  height: 100%;
}

table, th, td {
  border: 1px solid black;
  white-space: nowrap;
  overflow: hidden;
  border-collapse: collapse;
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

div.invisible-vertical-line{
  width: 10px; 
  height: 100%; 
  float: left; 
}

.highlight {
  display: inline-block;
}
.highlight img:hover {
  opacity: .5;
  background-color: yellow;
  color: black;
}

.loading-pokemon-ball{
  width : 350px;
  margin: auto;
}