select {
  width: 20em;
}

label {
  clear: left;
  float: left;
  margin-right: 1em;
}

.container {
  padding-top: .25em;
  padding-bottom: .25em;
}

.container > div {
  /* width: 50%;
  float: left;
  padding-right: 1% */
}

#id_search {
  width: 20em;
}