h1 {
    padding: 20px 20px;
}

.left-align{
    position: absolute;
    left: 12.5%;
    top: 10%;
    padding: 10px;
}

.right-align{
    position: absolute;
    right: 12%;
    top: 8%;
    padding: 10px;
}

.center-align{
    margin: auto;
    text-align: center;
}

.tool-bar{
    height: 110px; 
}

body {
    background-image: url("../static/background_image.jpg");
    background-attachment: fixed;
    background-size: cover;
}

select {
    width: 120px;
}

.highlight {
    display: inline-block;
}
.highlight img:hover {
    opacity: .5;
    background-color: yellow;
    color: black;
}

#information_sign_content {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
    display: none;
}