/*
    webapp.css
    Jeff Ondich
    6 November 2020

    CSS for the tiny web app for CS257.
*/

body {
    margin: 20px;
    font-family: Helvetica;
    background: #ddffdd;
}

select {
    width: 150px;
}

.highlight {
    background-color: yellow;
    display: inline-block;

}
.highlight img:hover {
    opacity: .5;
}

#information_sign_content {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
}