<!DOCTYPE html>
<html>
<head>
	<!-- HTML, CSS, and JS for the files of the form advanced_search.* are adapted from https://makitweb.com/make-a-dropdown-with-search-box-using-jquery/ !-->

	<!-- Use JQuery and the JQuery plugin select2 for searchable dropdown menus. It's important that this comes before the "usual boilerplate" below! !-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Installing from Google is likely faster than using normal install, since user might have this script cached !-->
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" /> 
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

	<!-- Do the usual boilerplate. !-->
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='advanced_search.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='advanced_search.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <title> Advanced search </title>
</head>

<body>

	<div>
		<p> Substring of Pokemon name </p>
		<select id="pokemon_name_dropdown" class = "search2"> <!-- The class is used by the onReady() function in the .js file !--> </select>
	</div>

	<div>
		<p> Type 1 </p>
		<select id="type1_dropdown" class = "search2"> <!-- The class is used by the onReady() function in the .js file !--> </select>
	</div>

	<div>
		<p> Type 2 </p>
		<select id="type2_dropdown" class = "search2"> <!-- The class is used by the onReady() function in the .js file !--> </select>
	</div>

	<input type= "button" value="Search" id="search_button">
	<div id="result"></div>
</body>
</html>