<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <title>Pokemon Home</title>
</head>

<body>
    <h3>All Single Types and abilities</h3>
    <select id = "type1_list_selection">
        <option value = " 1 ">if you see this, it's an error</option>
    </select>
    <button id = "type1_button">find type1</button>

    <select id = "type2_list_selection">
        <option value = " 1 "></option>
    </select>
    <button id = "type2_button">find type2</button>

    <select id = "ability_list_selection">
        <option value = " 1 "></option>
    </select>
    <button id = "ability_button">with ability</button>(ability1, ability2, or hidden ability) 

    <p id = "pokemon_landing_display"><img src="../static/pokemon_images/pokemon_ball_square.gif" alt="The image of this pokemon is not available at this time" id = "pokemon_image_dynamic"></p>
</body>
</html>

<!--    
    <p><button id="click_and_change_button">all pokemon regions</button></p>
    <ul id="regions_list"> try click the button </ul>

-->