<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Pokemon Home</title>
</head>

<body>
    <h3>All Single Types and abilities</h3>
    <select id = "type1_list_selection">
        <option value = " 1 ">if you see this, it's an error</option>
    </select>
    <button id = "type1_button">find type1</button>

    <select id = "type2_list_selection">
        <option value = " 1 "></option>
    </select>
    <button id = "type2_button">find type2</button>

    <select id = "ability_list_selection">
        <option value = " 1 "></option>
    </select>
    <button id = "ability_button">with ability</button>(ability1, ability2, or hidden ability) 
    <h1>Pokemon Database</h1>
    <div id = "pokemon_landing_display">
        <div class="container">
            <div class="row">
              <div class="col-2">
                <img src="../static/pokemon_images/pokemon_ball_square.gif" alt="something is wrong" class="img-thumbnail">
                <h5>pokemon_name</h5>
                <!--type image row-->
                <h6>T1:<img src="../static/type_images/null.png" alt="something is wrong" class="img-thumbnail">
                    T2:<img src="../static/type_images/null.png" alt="something is wrong" class="img-thumbnail"></h6>
              </div>
              <div class="col-2">
                <img src="../static/pokemon_images/pokemon_ball_square.gif" alt="something is wrong" class="img-thumbnail">
              </div>
              <div class="col-2">
                <img src="../static/pokemon_images/pokemon_ball_square.gif" alt="something is wrong" class="img-thumbnail">
              </div>
              <div class="col-2">
                <img src="../static/pokemon_images/pokemon_ball_square.gif" alt="something is wrong" class="img-thumbnail">
              </div>
              <div class="col-2">
                <img src="../static/pokemon_images/pokemon_ball_square.gif" alt="something is wrong" class="img-thumbnail">
              </div>
              <div class="col-2">
                <img src="../static/pokemon_images/pokemon_ball_square.gif" alt="something is wrong" class="img-thumbnail">
              </div>
            </div>
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>

<!--    
    <p><button id="click_and_change_button">all pokemon regions</button></p>
    <ul id="regions_list"> try click the button </ul>

-->