<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" /> 
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='shared_functions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='InfinitePokemonCardScroller.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
    <title> Home </title>
</head>

<body>
    <h1><center>Pokemon Database</center></h1>
    <div class = "container">
        <div class = "tool-bar">
            <div class = "left-align">
                <h6>Filter Pokemon with:</h6>
                <h6>Ability: <select id = "ability_list_selection" class = "search"><option value = " 1 "></option></select> </h6>
                <h6>Type: <select id = "type_list_selection" class = "search"><option value = " 1 ">error</option></select>
                    &nbsp; <input type= "button" value="Search!" id="search_button">
                </h6>
                
            </div>
            
            <div class = "center-align">
                <input type= "button" value="Show Help" id="information_sign_button">
            </div>

            <div class = "right-align">
                <h5 id = "link_to_advanced_search">if you see this text, you got a problem</h5>
            </div>
        </div>
        <div id="information_sign_content">
            Write the help content here
        </div>
    </div>
    <div id = "pokemon_landing_display">
        <p>waiting for the javascript</p>
    </div>
</body>
</html>
