<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pokemon_page.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='pokemon_page.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <title>Pokemon Home</title>
</head>

<body>
    <h3>The stats and pictures of: <b id = pokemon_dynamic_name>{{ pokemon }}</b></h3>
    <img src="../static/pokemon_images/pokemon_ball_square.gif" alt="The image of this pokemon is not available at this time" id = "pokemon_image_dynamic">
    <p id = "change">just need this to change</p>
    <p id = "pokemon_stats_display1">this also need to change</p>
    <p> -------------- </p>
    <p id = "pokemon_stats_display2">this also need to change</p>
    <p> -------------- </p>
    <p id = "pokemon_stats_display3">this also need to change</p>
</body>
</html>